asgiref==3.4.1

click==8.0.3
dj-database-url==0.5.0
Django==4.0
django-ckeditor==6.2.0
django-ckeditor5==0.0.4
django-crispy-forms==1.13.0
django-heroku==0.0.0
django-js-asset==1.2.2
django-taggit==2.0.0
fanstatic==1.1
Flask==2.0.2
Flask-CKEditor==0.4.6
itsdangerous==2.0.1
Jinja2==3.0.3
js.ckeditor==3.6.6
MarkupSafe==2.0.1
Pillow==8.4.0
shutilwhich==1.1.0
sqlparse==0.4.2
taggable==0.2.0
uploader==0.5.0
WebOb==1.8.7
Werkzeug==2.0.2
whitenoise==5.3.0
djangorestframework
