{% extends "base/base.html" %}
{% block title %} Register Page {% endblock title%}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="https://eduport.webestica.com/assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="https://eduport.webestica.com/assets/vendor/bootstrap-icons/bootstrap-icons.css">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="https://eduport.webestica.com/assets/css/style.css">
<!-- =======================
Page Banner START -->
<section class="pt-5 pb-0" style="background-image:url(https://eduport.webestica.com/assets/images/element/map.svg); background-position: center left; background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-xl-6 text-center mx-auto">
				<!-- Title -->
				<h6 class="text-primary">Contact us</h6>
				<h1 class="mb-4">We're here to help!</h1>
				<p class="list-item mb-3 h6 fw-light">
							<a href="#"> <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>6C2 Sinosteel Plaza, 159 Rivonia Road Morningside Ext 39, Sandton </a>
						</p>
						<p class="list-item mb-3 h6 fw-light">
							<a href="#"> <i class="fas fa-fw fa-phone-alt me-2"></i>+27 010 226 9885 </a>
						</p>
						<!-- Email id -->
						<p class="list-item mb-0 h6 fw-light">
							<a href="#"> <i class="far fa-fw fa-envelope me-2"></i>info@sisekelo.co.za </a>
						</p>
			</div>
		</div>
		
		<!-- Contact info box -->
		<div class="row g-4 g-md-5 mt-0 mt-lg-3 text-center" >
			<!-- Box item -->
			<!-- <div class="col-lg-4 mt-lg-0">
				<div class="card card-body bg-primary shadow py-5 text-center h-100">
				
					<h5 class="text-white mb-3">Customer Support</h5>
					<ul class="list-inline mb-0">
						
						<li class="list-item mb-3">
							<a href="#" class="text-white"> <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>6C2 Sinosteel Plaza, 159 Rivonia Road Morningside Ext 39, Sandton</a>
						</li>
						
						<li class="list-item mb-3">
							<a href="#" class="text-white"> <i class="fas fa-fw fa-phone-alt me-2"></i> 010 226 9885</a>
						</li>
						
						<li class="list-item mb-0">
							<a href="#" class="text-white"> <i class="far fa-fw fa-envelope me-2"></i>info@sisekelo.co.za</a>
						</li>
					</ul>
				</div>
			</div> -->

			

			<!-- Box item 
			<div class="col-lg-4 mt-lg-0">
				<div class="card card-body shadow py-5 text-center h-100">
					
					<h5 class="mb-3">Main Office Address</h5>
					<ul class="list-inline mb-0">
						
						<li class="list-item mb-3 h6 fw-light">
							<a href="#"> <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>2002 Horton Ford Rd, Eidson, TN, 37731 </a>
						</li>
						
						<li class="list-item mb-3 h6 fw-light">
							<a href="#"> <i class="fas fa-fw fa-phone-alt me-2"></i>(678) 324-1251 </a>
						</li>
						
						<li class="list-item mb-0 h6 fw-light">
							<a href="#"> <i class="far fa-fw fa-envelope me-2"></i>example@email.com </a>
						</li>
					</ul>
				</div>
			</div> -->
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Image and contact form START -->
<section >
	<div class="container">
		<div class="row g-4 g-lg-0 align-items-center">

			<div class="col-md-6 align-items-center text-center">
				<!-- Image -->
				<img src="https://eduport.webestica.com/assets/images/element/contact.svg" class="h-400px" alt="">

				<!-- Social media button -->
				<div class="d-sm-flex align-items-center justify-content-center mt-2 mt-sm-4">
					<h5 class="mb-0">Follow us on:</h5> 
					<ul class="list-inline mb-0 ms-sm-2">
						<li class="list-inline-item"> <a class="fs-5 me-1 text-facebook" href="#"><i class="fab fa-fw fa-facebook-square"></i></a> </li>
						<li class="list-inline-item"> <a class="fs-5 me-1 text-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
						<li class="list-inline-item"> <a class="fs-5 me-1 text-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
						
					</ul>
				</div>
			</div>

			<!-- Contact form START -->
			<div class="col-md-6">
				<!-- Title -->
				<h2 class="mt-4 mt-md-0">Let's talk</h2>
				<p>To request a quote or want to meet up for coffee, contact us directly or fill out the form and we will get back to you promptly</p>
					
				<form>
					<form method="POST" class="post-form">{% csrf_token %}
     
      							  {{ form|crispy }}
        <button type="submit" class="save btn btn-secondary">Save</button>
    </form>
        </div>
				</form>
			</div>
			<!-- Contact form END -->
		</div>
	</div>
</section>
<!-- =======================
Image and contact form END -->

<!-- =======================
Map START -->
<section class="pt-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<iframe class="w-100 h-400px grayscale rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin" height="500" style="border:0;" aria-hidden="false" tabindex="0"></iframe>	
			</div>
		</div>
	</div>
</section>
<!-- =======================
Map END -->

</main>
















{% endblock content %}