{% extends 'base/base.html' %}
{% load static %}

{% block content %}


    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Sikelelo</title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=78fc49e7d767d05ab2402bbffd54bf27">
        <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css?h=18313f04cea0e078412a028c5361bd4e">
        <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css?h=18313f04cea0e078412a028c5361bd4e">
        <link rel="stylesheet" href="assets/css/styles.min.css?h=9032f2dedde532e76e6f68d52a6c5dba">

        <style>
            .jumbotronus {
                background: url("https://www.sisekelo.co.za/images/digital/Artificial-Intelligence.jpg") center center / cover no-repeat;
                margin-top: -21px;
                margin-bottom: 10px;
            }
        </style>
    </head>

    <body>
    <div class="jumbotronus">
        <h1 class="text-center"
            style="font-size: 50px;color: rgb(244,244,244);padding-top: 10px;font-family: Inter;">{{ learnership.title|capfirst }}</h1>
        <p class="text-center"
           style="font-size: 20px;padding: 0px;padding-top: 46px;color: rgb(255,255,255);padding-right: 0px;margin-right: 0px;padding-bottom: 8px;font-family: Inter;">{{ learnership.description| truncatewords:20 }}"<br>
        </p>
        <p class="text-center"
           style="font-size: 20px;padding: 0px;padding-top: 46px;color: rgb(255,255,255);padding-right: 0px;margin-right: 0px;padding-bottom: 8px;margin-top: -20px;">
            - Sisekelo</p>
    </div>
    <div>
        <div class="container">
            <h1 class="text-left"
                style="margin-top: 0px;margin-bottom: 0px;padding-top: 20px;">{{ learnership.program_type }}
                | {{ learnership.certificate_type }}</h1>
            <hr style="border-width: 2px;border-color: orange;margin-top: 25px;border-bottom-style: solid;border-top-style: solid;height: auto;border-bottom-width: 0;flex-grow: 2;box-sizing: border-box;display: block;">
        </div>
        <div class="container">
            <p style="font-size: 14px; line-height: 2rem; padding-top: 8px;">{{ learnership.description }}<br>
            </p>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <br/>
                    <div ><img src="{{ learnership.image.url }}" margin-top: 18px;
                                                    style="width: 358px; border-radius: 40px; margin: 20px;" >


           
                    <span class="badge-coursepage badge-primary px-2 py-1 mb-3" ><a href="{% url 'post_new' %}" class="course_links-course-page" >Enroll With Us   </a> </span>

                     <span class="badge-coursepage badge-primary px-2 py-1 mb-3"> <a href="{{ q.brochure.url }}" download class="course_links-course-page" >Download Brochure</a> </span>

                                                </div>
                    </div>
                    <div>
                       

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <br>
                                <p>
                    <div >
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Accordion wrapper -->
                            <div class="accordion md-accordion" id="accordionEx1" role="tablist"
                                 aria-multiselectable="true">

                                <!-- Accordion card -->
                                <div class="card grey lighten-2"
                                     style="padding-left: 10px; margin-bottom:6px; margin-right:-50px; margin-top:30px;  border-radius:0.5rem">

                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingTwo1">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1"
                                           href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                            <h5 class="mb-0 text-dark"><i class="fas fa-angle-down rotate-icon"></i>
                                                Course Details
                                            </h5>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapseTwo1" class="collapse " role="tabpanel"
                                         aria-labelledby="headingTwo1" data-parent="#accordionEx1">
                                        <div class="card-body text-dark">
                                            {{ learnership.expectations }}</div>
                                    </div>

                                </div>


                                <!-- Accordion card -->

                                <!-- Accordion card -->
                                <div class="card grey lighten-2"
                                     style="padding: 2px; margin-bottom:6px; margin-right:-50px; border-radius:0.5rem">

                                    <!-- Card header -->


                                    <div class="card-header " role="tab" id="headingTwo2">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1"
                                           href="#collapseTwo21" aria-expanded="false" aria-controls="collapseTwo21">
                                            <h5 class="mb-0 text-dark"><i class="fas fa-angle-down rotate-icon"></i>
                                                Course Overview
                                            </h5>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapseTwo21" class="collapse " role="tabpanel"
                                         aria-labelledby="headingTwo21" data-parent="#accordionEx1">
                                        <div class="card-body text-dark">
                                            {{ learnership.modules }}
                                        </div>
                                    </div>

                                </div>
                                <!-- Accordion card -->

                                <!-- Accordion card -->
                                <div class="card grey lighten-2"
                                     style="padding: 2px; margin-bottom:6px; margin-right:-50px; border-radius:0.5rem">

                                    <!-- Card header -->


                                    <div class="card-header " role="tab" id="headingTwo2">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1"
                                           href="#collapseTwo51" aria-expanded="false" aria-controls="collapseTwo21">
                                            <h5 class="mb-0 text-dark"><i class="fas fa-angle-down rotate-icon"></i>
                                                Target Audience
                                            </h5>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapseTwo21" class="collapse " role="tabpanel"
                                         aria-labelledby="headingTwo51" data-parent="#accordionEx1">
                                        <div class="card-body text-dark">
                                            {{ learnership.target_audience }}
                                        </div>
                                    </div>

                                </div>
                                <!-- Accordion card -->

                                <!-- Accordion card -->
                                <div class="card grey lighten-2"
                                     style="padding: 2px; margin-bottom:6px; margin-right:-50px; border-radius:0.5rem">

                                    <!-- Card header -->


                                    <div class="card-header " role="tab" id="headingTwo2">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1"
                                           href="#collapseTwo41" aria-expanded="false" aria-controls="collapseTwo21">
                                            <h5 class="mb-0 text-dark"><i class="fas fa-angle-down rotate-icon"></i>
                                                Payment Options
                                            </h5>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapseTwo41" class="collapse " role="tabpanel"
                                         aria-labelledby="headingTwo41" data-parent="#accordionEx1">
                                        <div class="card-body text-dark">
                                            {{ learnership.payments_options }}
                                        </div>
                                    </div>

                                </div>
                                <!-- Accordion card -->

                                <!-- Accordion card -->
                                <div class="card grey lighten-2"
                                     style="padding: 2px; margin-bottom:6px;margin-right:-50px; border-radius:0.5rem">

                                    <!-- Card header -->
                                    <div class="card-header " role="tab" id="headingThree31">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1"
                                           href="#collapseThree31" aria-expanded="false"
                                           aria-controls="collapseThree31">
                                            <h5 class="mb-0 text-dark"><i class="fas fa-angle-down rotate-icon"></i>
                                                Career Prospects
                                            </h5>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapseThree31" class="collapse " role="tabpanel"
                                         aria-labelledby="headingThree31" data-parent="#accordionEx1">
                                        <div class="card-body text-dark">
                                             {{ learnership.career_prospects }}
                                        </div>
                                    </div>

                                </div>
                                <!-- Accordion card -->

                            </div>
                            <!-- Accordion wrapper -->

                        </div>
                    </div>
                    <div class="row" style="font-family: Roboto;font-size: 14px;margin-top: 12px;">
                        <div class="col-md-12">
                            <p>DURATION:&nbsp;<strong>{{ learnership.duration }}</strong><br></p>
                        </div>
                        <div class="col-md-12">
                            <p>START DATE:&nbsp;<strong>{{ learnership.start_date | date:"F d, Y"  }}</strong><br></p>
                        </div>
                        <div class="col-md-12">
                            <p>CREDIT:&nbsp;<strong>{{ learnership.credit }}</strong><br></p>
                        </div>
                        <div class="col-md-12">
                            <p>PRICE:&nbsp;<strong>{{ learnership.credit }}</strong><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <script src="assets/js/jquery.min.js?h=83e266cb1712b47c265f77a8f9e18451"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=e46528792882c54882f660b60936a0fc"></script>
    <script src="assets/js/script.min.js?h=cff910a810e90956e2f5b79da0aaa218"></script>
    </body>

    </html>

{% endblock %}
